{% extends "main.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}
{% load static %}

{% block content %}
<div class="uf-form-signin">
    <div class="text-center">
        <a href="https://uifresh.net/"><img src="{% static 'assets/img/logo-fb.png' %}" alt="" width="100"
                height="100"></a>
    <h1 class="text-white h3">Confirm Email Address</h1>    
    </div>
    {% if confirmation %}
        {% if can_confirm %}
            <h1 class="text-black text-center h5">Please confirm that <a style='color:rgb(0, 0, 124);' href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> is an email address for user {{ confirmation.email_address.user }}</h1>
            <form action="{% url 'account_confirm_email' confirmation.key %}" method="POST" class="mt-4">
                {% csrf_token %}
                <div class="mt-4 text-center">
                    <span class="text-white"> {{ redirect_field }}</span>
                </div> <br>
                <div class="d-grid mb-4">
                    <button type="submit" class="btn uf-btn-primary btn-lg">Confirm</button>
                </div>
            </form>
        {% else %}
            <h1 class="text-black text-center h5">Unable to confirm {{ email }} because it is already confirmed by a different account.</h1>           
        {% endif %}
    {% else %}
    <h1 class="text-black text-center h5">This email confirmation link expired or is invalid. Please <a href="{% url "account_email" %}">issue a new email confirmation request</a></h1>
    {% endif %}
</div>
{% endblock content %}

