{% extends "main.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}

{% block content %}
<div class="uf-form-signin">
    <div class="text-center">
        <a href="https://uifresh.net/">
            <img src="{% static 'assets/img/logo-fb.png' %}" alt="" width="100" height="100">
        </a>
        <h1 class="text-white h3">
            {% if token_fail %}
                {% trans "Bad Token" %}
            {% else %}
                {% trans "Change Password" %}
            {% endif %}
        </h1>
    </div>

    {% if token_fail %}
        <div class="alert alert-danger text-center mt-4" role="alert">
            <p class="text-white">
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{% url 'account_reset_password' %}" class="text-white">new password reset</a>.
            </p>
        </div>
    {% else %}
        <form action="{{ action_url }}" method="post" class="mt-4">
            {% csrf_token %}
            {{ redirect_field }}

            <div class="input-group uf-input-group input-group-lg mb-3">
                <span class="input-group-text fa fa-lock"></span>
            <input type="password" name='password1' class="form-control" placeholder="Password">
                {{ form.password1.errors }}
            </div>

            <div class="input-group uf-input-group input-group-lg mb-3">
                <span class="input-group-text fa fa-lock"></span>
            <input type="password" name='password2' class="form-control" placeholder="Password confirmation">
                {{ form.password2.errors }}
            </div>

            <div class="d-grid mb-4">
                <button type="submit" name="action" class="btn uf-btn-primary btn-lg">
                    {% trans "Change Password" %}
                </button>
            </div>
        </form>
    {% endif %}
</div>
{% endblock content %}
