{% extends "main.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}

{% block content %}
<div class="uf-form-signin">
    <div class="text-center">
        <a href="https://uifresh.net/">
            <img src="{% static 'assets/img/logo-fb.png' %}" alt="" width="100" height="100">
        </a>
        <h1 class="text-white h3">{% trans "Password Reset" %}</h1>
    </div>

    {% if user.is_authenticated %}
        <div class="alert alert-info text-center mt-4" role="alert">
            {% include "account/snippets/already_logged_in.html" %}
        </div>
    {% endif %}

    <div class="text-center mt-4">
        <p class="text-black">
            {% blocktrans %}
                We have sent you an email. If you have not received it, please check your spam folder.
                Otherwise, contact us if you do not receive it in a few minutes.
            {% endblocktrans %}
        </p>
    </div>
</div>
{% endblock content %}
